html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

button:before {
  background-color: RGBA(30, 192, 185, 1); }

.loginDiv h2 {
  color: RGBA(21, 141, 162, 1); }

.nav-wrapper {
  background: linear-gradient(RGBA(21, 141, 162, 1), RGBA(30, 192, 185, 1));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px; }
  .nav-wrapper a {
    font-size: 1em;
    cursor: pointer; }
  .nav-wrapper .brand-logo {
    font-size: 3em;
    cursor: pointer; }

.slider h3 {
  color: RGBA(30, 192, 185, 1); }

.slider h5 {
  color: RGBA(30, 192, 185, 1); }

.dashboardDiv {
  background-color: white; }

.personal {
  position: relative;
  overflow: hidden;
  height: 50px;
  transition: height 0.5s; }

.personal:hover {
  height: 300px; }

.personalText {
  color: RGBA(21, 141, 162, 1);
  font-size: 2em;
  margin-left: 25px; }

.profileMgmt {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll; }
  .profileMgmt:last-child {
    margin-right: 0; }
  .profileMgmt h5 {
    color: white;
    position: relative;
    margin-left: 25px; }
  .profileMgmt h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f007';
    left: -25px; }
  .profileMgmt span {
    color: #727D8C;
    font-size: 16px;
    cursor: pointer; }

.applicationMgmt {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: RGBA(21, 141, 162, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll; }
  .applicationMgmt:last-child {
    margin-right: 0; }
  .applicationMgmt h5 {
    color: white;
    position: relative;
    margin-left: 28px; }
  .applicationMgmt h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f1d8';
    left: -28px; }

.favorites {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll; }
  .favorites:last-child {
    margin-right: 0; }
  .favorites h5 {
    color: white;
    position: relative;
    margin-left: 28px; }
  .favorites h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f004';
    left: -28px; }

.searchDiv {
  margin-top: 50px; }
  .searchDiv ul select {
    width: 150px;
    display: inline-block;
    margin-right: 50px; }
  .searchDiv h2 {
    color: RGBA(21, 141, 162, 1); }
    .searchDiv h2 img {
      margin-left: 10px;
      margin-right: 10px;
      object-fit: cover; }
  .searchDiv ul li {
    display: inline-block;
    margin-right: 100px; }
  .searchDiv .row {
    background-color: RGBA(189, 189, 189, 0.4);
    border-radius: 5px;
    padding-left: 80px;
    padding-top: 5px;
    padding-right: 80px;
    padding-bottom: 25px; }

.searchResults ul li {
  background-color: white;
  border: 1px solid RGBA(21, 141, 162, 1);
  border-radius: 5px;
  width: 30%;
  height: 300px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  .searchResults ul li span {
    color: #727D8C;
    display: block; }
  .searchResults ul li a {
    text-decoration: none; }

.colorTopFemale {
  height: 25px;
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  margin-bottom: 5px; }

.colorTopMale {
  height: 25px;
  background-color: RGBA(21, 141, 162, 1);
  border-radius: 5px;
  margin-bottom: 5px; }

.searchResultImage {
  margin-left: 30%; }

.createDiv {
  color: #727D8C; }
  .createDiv h2 {
    color: RGBA(21, 141, 162, 1);
    border-radius: 5px;
    padding: 25px; }
  .createDiv .createTopText {
    text-align: center; }

.profileQuestions {
  border: 1px solid #727D8C;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px; }
  .profileQuestions #questionsText {
    background-color: RGBA(30, 192, 185, 1);
    color: white; }
  .profileQuestions .profileGender {
    display: inline-block;
    margin-right: 10px; }
  .profileQuestions .profileOrientation {
    display: inline-block; }

.picturesDiv {
  border: 1px solid #727D8C;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px; }
  .picturesDiv #picturesText {
    background-color: RGBA(30, 192, 185, 1);
    color: white; }
  .picturesDiv label {
    color: RGBA(21, 141, 162, 1);
    font-size: 16px; }

.videoDiv {
  border: 1px solid #727D8C;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px; }
  .videoDiv #videoHeader {
    color: white;
    background-color: RGBA(21, 141, 162, 1); }
  .videoDiv p {
    text-align: center; }

.singleProfileDiv {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .singleProfileDiv::after {
    clear: both;
    content: "";
    display: table; }
  .singleProfileDiv .profileTop {
    border-radius: 5px;
    position: relative; }
    .singleProfileDiv .profileTop img {
      width: 40%;
      border-radius: 5px; }
  .singleProfileDiv .profileTop:before {
    content: '\f1d8   apply for date';
    font-family: FontAwesome;
    position: absolute;
    color: RGBA(30, 192, 185, 1);
    font-size: 1em;
    right: -15px;
    top: -60px; }
  .singleProfileDiv .profileTop:after {
    content: '\f004   mark as favorite';
    font-family: FontAwesome;
    position: absolute;
    color: RGBA(30, 192, 185, 1);
    font-size: 1em;
    right: 125px;
    top: -60px; }
  .singleProfileDiv .videoDiv {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    overflow: hidden; }
    .singleProfileDiv .videoDiv:last-child {
      margin-right: 0; }
    .singleProfileDiv .videoDiv video {
      width: 100%; }
    .singleProfileDiv .videoDiv span {
      color: RGBA(21, 141, 162, 1);
      font-size: 1.5em; }
  .singleProfileDiv .mainVideo {
    margin-left: 35%; }
  .singleProfileDiv .row {
    border: 2px solid #bdbdbd;
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px; }
    .singleProfileDiv .row img {
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px; }
  .singleProfileDiv .row:hover {
    background-color: #bdbdbd; }
  .singleProfileDiv h2 {
    color: RGBA(21, 141, 162, 1);
    position: relative; }
  .singleProfileDiv h5 {
    color: RGBA(30, 192, 185, 1);
    position: absolute;
    left: 360px;
    top: 130px; }

.topRight {
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  color: #727D8C;
  font-size: 1.3em;
  padding: 25px;
  width: 50%;
  height: 346px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: white;
  float: right; }
  .topRight p {
    color: #272822; }
  .topRight span {
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: RGBA(30, 192, 185, 1);
    color: white; }

.aboutDiv h2 {
  color: RGBA(30, 192, 185, 1); }

.aboutDiv h5 {
  font-size: 16px; }

.aboutOne {
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative; }
  .aboutOne h3 {
    font-size: 28px;
    color: white; }
  .aboutOne ul {
    margin-top: 38px; }

.aboutOne:hover {
  height: 400px; }

.aboutTwo {
  background-color: RGBA(21, 141, 162, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative; }
  .aboutTwo h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px; }
  .aboutTwo ul {
    margin-top: 35px; }

.aboutTwo:hover {
  height: 450px; }

.aboutThree {
  position: relative;
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden; }
  .aboutThree h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px; }
  .aboutThree ul {
    margin-top: 35px; }

.aboutThree:hover {
  height: 400px; }

.successText {
  height: 110px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden; }
  .successText h2 {
    font-family: "Roboto", sans-serif;
    color: RGBA(21, 141, 162, 1); }
  .successText p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 5px;
    background-color: RGBA(30, 192, 185, 0.5);
    font-size: 18px; }

.successText:hover {
  height: 300px; }

.successPic {
  float: left;
  margin-top: 30px;
  border-radius: 5px; }

.successQuote {
  float: right;
  width: 60%;
  color: #727D8C;
  font-family: "Italiana", serif;
  font-size: 1.8em;
  margin-top: 30px; }
