<div class="aboutDiv">
<h2 class="brand-logo center">How It Works</h2>
<hr>

<div class="row about">

<div class="col s4">
<div class="aboutOne">
<h3>IF YOU ARE SINGLE</h3>
<ul>
  <li><h5>1. Search through the awesome profiles on The Setup!</h5></li>
  <small>All the profiles on The Setup were created by Friends and Family. And nobody knows you better than friends and family!</small>
  <li><h5>2. Apply to date someone!</h5></li>
  <small>your application will go to the single person AND their friend that posted them. Consider the single person the job and their friend, the hiring manager.</small>
  <li><h5>3. Live happily ever after!</h5></li>
</ul>
</div>
</div>



<div class="col s4">
<div class="aboutTwo">
<h3>IF YOU ARE A FRIEND SETTING SOMEONE UP</h3>
<ul>
  <li><h5>1. Register/Login</h5></li>
  <li><h5>2. Go to "Create Profile for a Friend"</h5></li>
  <small>We have an easy to follow, 3-step process on how to create a great profile for your friend</small>
  <li><h5>3. Post a video about your Friend</h5></li>
  <small>You can either upload a youtube link or download our mobile app to easily create a short video clip</small>
  <li><h5>4. Review Applicants interested in your Friend</h5></li>
  <li><h5>5. Sit back and enjoy all the praise you'll get for being Matchmaker Extraordinaire</h5></li>
</ul>
</div>
</div>





<div class="col s4">
<div class="aboutThree">
<h3>IF YOU ARE BEING SETUP BY A FRIEND</h3>
<ul>
  <li><h5>1. Thank your friend for creating you a profile on the #1 dating site.</h5></li>
  <li><h5>2. Create an account using the email address your friend provided while creating your profile.</h5></li>
  <li><h5>3. Watch as your applications come flooding in.</h5></li>
  <li><h5>4. Get to know the applicants you are interested in.</h5></li>
  <li><h5>5. Live happily ever after in relationship bliss.</h5></li>
</ul>
</div>
</div>
</div>
</div>
