<h2>This is the About template</h2>
<h3>Here's how this shiz works.</h3>

<h3>If you are a single person:</h3>
<ul>
  <li><h5>1. search through the awesome profiles on The Setup!</h5></li>
  <p>All the profiles on The Setup were created by friends and family. And nobody knows you better than friends and family!</p>
  <li><h5>2. apply to date someone!</h5></li>
  <p>your application will go to the single person AND their friend that posted them. Consider the single person the job and their friend, the hiring manager.</p>
  <li><h5>3. live happily ever after!</h5></li>
</ul>

<h3>If you are a friend that wants to set someone up:</h3>

<ul>
  <li><h5>1. Register/Login</h5></li>
  <li><h5>2. Go to "Create Profile for a Friend"</h5></li>
  <p>We have an easy to follow, 4-step process on how to create a great profile for your friend</p>
  <li><h5>3. Post a video about your friend</h5></li>
  <p>You can either upload a youtube link or download our mobile app to easily create a short video clip</p>
  <li><h5>4. Review applicants interested in your friend</h5></li>
  <li><h5>5. Sit back and enjoy all the praise you'll get for being Matchmaker extraordinaire</h5></li>

</ul>
