<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/#/" class="brand-logo center"><img src="images/setup_logo.png" height="56" width="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="gotoCreate()">Create Profile for Friend</a></li>
        <li><a ng-click="gotoSearch()">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="createDiv">
<div class="row">

<h2 class="brand-logo center">Create a Profile for your Friend</h2>

<div class="createTopText">
<h5>You can create a profile in 3 easy steps using the web app or the mobile app</h5>
<small>Please note you will be required to submit a video for this profile. You can create a video using the mobile app or you can upload a youtube link.</small>


<div class="profileQuestions">
<h2 id="questionsText" class="brand-logo center">Step 1: Questions</h2>



<form ng-submit="createProfile(profile)">
<ul>
  <li>
  <input type="text" ng-model="profile.first_name" placeholder="Friend's First Name">
  </li>
  <li>
  <input type="email" ng-model="profile.email" placeholder="friend's email address">
  <small>We will notify your friend via email once their profile is created</small>
  </li>
  <li>
  <input type="text" ng-model="profile.birthYear" placeholder="friend's year of birth">
  </li>
  <li>
  <input type="text" ng-model="profile.location" placeholder="friend's location">
  </li>
  <li>
  <input type="text" ng-model="profile.occupation" placeholder="friend's occupation">
  </li>

  <li class="profileGender">
  <h6>Friend's Gender</h6>
  <input type="radio" name="gender" class="with-gap" id="profile-male" value="male" ng-model="profile.gender">
  <label for="profile-male">Male</label>
  <input type="radio" name="gender" class="with-gap" id="profile-female" value="female" ng-model="profile.gender">
  <label for="profile-female">Female</label>
  </li>


  <li class="profileOrientation">
  <h6>Friend's Orientation</h6>
  <input type="radio" name="orientation" class="with-gap" id="profile-straight" value="straight" ng-model="profile.orientation">
  <label for="profile-straight">Straight</label>
  <input type="radio" name="orientation" class="with-gap" id="profile-gay" value="gay" ng-model="profile.orientation">
  <label for="profile-gay">Gay</label>
  </li>

</ul>
<button>Submit</button>
</form>
</div> <!-- end of profileQuestions -->


<div class="videoDiv">
<h2 id="videoHeader" class="brand-logo center">Step 2: Videos</h2>
<input type="url" ng-model="profile.mainVid" placeholder="Main Video Link *2 min max">
<input type="url" ng-model="profile.hobbies_vid" placeholder="Optional Video Link about Hobbies *30 sec max">
<input type="url" ng-model="profile.tastes_vid" placeholder="Optional Video Link about Tastes *30 sec max">
<input type="url" ng-model="profile.looking_for_vid" placeholder="Optional Video Link about the type of person best suited for your friend *1 min max">
<p>Think of this as a documentary about your friend. The main video is a video of you (and others) describing your friend. You can include footage of your friend. The more entertaining, the better! Maximum video length is 2 minutes. You can quickly create videos using our mobile app.</p>
</div> <!-- end of videoDiv -->




<div class="picturesDiv">
<h2 id="picturesText" class="brand-logo center">Step 3: Pictures</h2>
<form ng-submit="uploadImages()">

<div class="mainPhoto">
    <label for="mainPhoto">Main Photo</label>
    <input type="file" id="mainPhoto"/>
</div>
<div>
    <label for="optPic1">Optional Photo 1</label>
    <input type="file" id="optPic1"/>
</div>
<div>
    <label for="optPic2">Optional Photo 2</label>
    <input type="file" id="optPic2"/>
</div>
<div>
    <label for="optPic3">Optional Photo 3</label>
    <input type="file" id="optPic3"/>
</div>
<div>
    <label for="optPic4">Optional Photo 4</label>
    <input type="file" id="optPic4"/>
</div>
<div>
    <label for="optPic5">Optional Photo 5</label>
    <input type="file" id="optPic5"/>
</div>
<div class="picsButton">
<button class="waves-effect waves-light btn-large">Upload Images</button>
</div>
</form>
<br>
<br>

<!-- </ul>
<button>Submit</button>
</form> -->

</div> <!-- end of PicturesDiv -->


<button class="waves-effect waves-light btn-large">Submit</button>
</form><!-- end of createProfile form -->
</div>
</div>

</div>
</div>
