<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/#/" class="brand-logo center"><img src="images/setup_logo.png" height="56" width="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="gotoCreate()">Create Profile for Friend</a></li>
        <li><a ng-click="gotoSearch()">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="createDiv">
<div class="row">

<h2 class="brand-logo center">Create a Profile for your Friend</h2>

<div class="createTopText">
<h5>You can create a profile in 3 easy steps!</h5>
<small>Please note you will be required to submit video for this profile. You can record and upload video using our iOS app. Have fun, get creative and enjoy being a matchmaker!</small>


<div class="profileQuestions">
<h2 id="questionsText" class="brand-logo center">Step 1: Questions</h2>



<form ng-submit="createProfile(profile)">
<ul>
  <li>
  <input type="text" ng-model="profile.username" placeholder="Friend's Username">
  </li>
  <li>
  <input type="email" ng-model="profile.email" placeholder="friend's email address">
  <small>We will notify your friend via email once their profile is created</small>
  </li>
  <li><input type="password" ng-model="profile.password" placeholder="create your friend's temporary password"></li>
  <li>
  <input type="text" ng-model="profile.birthyear" placeholder="friend's year of birth">
  </li>
  <li>
  <input type="text" ng-model="profile.location" placeholder="friend's location">
  </li>
  <li>
  <input type="text" ng-model="profile.occupation" placeholder="friend's occupation">
  </li>

  <li class="profileGender">
  <h6>Friend's Gender</h6>
  <input type="radio" name="gender" class="with-gap" id="profile-male" value="male" ng-model="profile.gender">
  <label for="profile-male">Male</label>
  <input type="radio" name="gender" class="with-gap" id="profile-female" value="female" ng-model="profile.gender">
  <label for="profile-female">Female</label>
  </li>


  <li class="profileOrientation">
  <h6>Friend's Orientation</h6>
  <input type="radio" name="orientation" class="with-gap" id="profile-straight" value="straight" ng-model="profile.orientation">
  <label for="profile-straight">Straight</label>
  <input type="radio" name="orientation" class="with-gap" id="profile-gay" value="gay" ng-model="profile.orientation">
  <label for="profile-gay">Gay</label>
  </li>

</ul>
<button class="waves-effect waves-light btn-large">Submit Questions</button>
</form>
</div> <!-- end of profileQuestions -->

<div class="videoDiv">
<h2 id="videoHeader" class="brand-logo center">Step 2: Videos</h2>
  <p>Creating videos is easy as pie! Simply use our iOS app to record and upload.</p>
  <button class="waves-effect waves-light btn-large">Download iOS App</button>
</div>

<div class="picturesDiv">
<h2 id="picturesText" class="brand-logo center">Step 3: Picture</h2>
<form ng-submit="uploadImages()">

<div class="mainPhoto">
    <label for="mainPhoto">Main Photo</label>
    <input type="file" id="mainPhoto"/>
</div>

<div class="picsButton">
<button class="waves-effect waves-light btn-large">Upload Images</button>
</div>
</form>
<br>
<br>

<!-- </ul>
<button>Submit</button>
</form> -->

</div> <!-- end of PicturesDiv -->


<!--end of createProfile form-->
</div>
</div>

</div>
</div>
