<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Setup</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/#/">Home</a></li>
        <li><a ng-click="gotoCreate()">Create Profile for Friend</a></li>
        <li><a ng-click="gotoSearch()">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<h2>Creating a Profile for your Friend is easy as pie!</h2>
<button class="waves-effect waves-light btn-large indigo accent-2">Save as Draft</button>



<h3>You can create a profile in 4 easy steps using the web app or the mobile app</h3>
<p>Please note you will be required to submit a video for this profile. You can create a video using the mobile app or you can upload a youtube link.</p>

<section ui-view="questions"></section>

<section ui-view="pictures"></section>

<section ui-view="video"></section>

<section ui-view="review"></section>
</div>
