<div class="dashboardDiv">
<div class="gradient">
<div class="z-depth-4">
<div class="row">


<div class="col s4">
  <div class="profileMgmt">
  <h5>Profile Management</h5>
  <ul>
  <li><small>Billy Bob</small></li>
  <li><small>Turd Ferguson</small></li>
</ul>
  </div>
</div>


<div class="col s4">
  <div class="applicationMgmt">
  <h5>Application Management</h5>
  <span>applications I have submitted</span>
  <span>applications for me</span>
  <span>applications for my friends</span>
  <small>applications for Billy</small>
  <small>applications for Shaniqua</small>
  </div>
</div>


<div class="col s4">
<div class="favsAndRecommended">

  <div class="favorites">
  <h5>Favorites</h5>
    <ul>
      <li>Tommy</li>
      <li>Bobby</li>
      <li>Fred</li>
    </ul>
  </div>

  <div class="recommended">
  <h5>Recommended</h5>
    <ul>
      <li>Sarah</li>
      <li>Jenny</li>
      <li>Mary</li>
    </ul>
  </div>

  </div>
</div>


</div>
</div>
</div>
</div>
