<div class="dashboardDiv">
<div class="gradient">
<div class="z-depth-4">
<div class="row">

<div class="personal">
<div class="personalText">Hey there, {{ user.username }}</div>


<div class="col s4">
  <div class="profileMgmt">
  <h5>Profile Management</h5>
  <ul>
    <li ng-repeat="d in dashprofiles">

      <a href="/#/single/{{ d.id }}">
      <span>{{ d.name }}</span>
      </a>
    </li>
  </ul>
  </div>
</div>


<div class="col s4">
  <div class="applicationMgmt">
  <h5>Application Management</h5>
  <ul>
    <li>Shaniqua Jones</li>
    <li>Bon QuiQui Turner</li>
    <li>Kate Middleton</li>
    <li>Britney Spears</li>
    <li>Venus Williams</li>
    <li>Mr Rogers</li>
    <li>Matt Lauer</li>
  </ul>
  </div>
</div>



<div class="col s4">
  <div class="favorites">
  <h5>Favorites</h5>
    <ul>
      <li>Tommy</li>
      <li>Bobby</li>
      <li>Fred</li>
    </ul>
  </div>
  </div>

</div>

</div>
</div>
</div>
</div>
