<h2>This is the Login/Register template</h2>

<div class="login">
  <form ng-submit>
    <input type="text" id="loginusername" placeholder=" username"/>
    <input type="email" id="loginemail" placeholder=" email address"/>
    <input type="password" id="loginpassword" placeholder=" password"/>
    <button>Login</button>
    <div class="facebookLogin">
      <button>Login With Facebook</button>
    </div>
  </form>

</div>

<div class="register">
  <form ng-submit>
    <input type="text" id="regusername" placeholder=" username"/>
    <input type="email" id="regemail" placeholder=" email address"/>
    <input type="password" id="regpassword" placeholder=" password"/>
    <button>Register</button>
    <div class="facebookRegister">
      <button>Register With Facebook</button>
    </div>
  </form>

</div>
