<hr>
<div class="newsDiv">
<div class="successText">
<h2 class="brand-logo center">Success On Setup</h2>
<hr>
<p>Meet Alex and Erica, this month's "Success Story"! Erica's best friend, Jamie, created a profile for her on Setup. Jamie took her matchmaking duties very seriously, reviewing all "applicants" with great detail. When an application came in from Alex, Jamie and Erica knew right away that Alex was her type. His application video was sarcastic and sweet and had the girls laughing. Soon after, they went on their first date and recently tied the knot on a yacht in the San Diego harbor.</p>
</div>
<img class="successPic" src="images/success_story_pic.jpg" height="300" width="auto">

<div class="successQuote">"Alex and I never would have found each other if it wasn't for Setup. I love the concept of my best friend setting me up. Life is easy breezy lemon squeezy now, thanks, Setup!" - Erica Perez</div>
</div>

