<div class="picturesDiv">
<h2 id="picturesText" class="brand-logo center">Profile Pictures</h2>

  <form action="#">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Main Photo</span>
        <input type="file" />
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 1</span>
        <input type="file" />
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 2</span>
        <input type="file" />
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 3</span>
        <input type="file" />
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 4</span>
        <input type="file" />
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 5</span>
        <input type="file" />
      </div>
    </div>
  </form>
<br>
<br>


</div>
