<div class="picturesDiv">
<h2 id="picturesText" class="brand-logo center">Profile Pictures</h2>

  <form ng-submit="createProfile(profile)">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Main Photo</span>
        <input type="file" ng-model="profile.mainPic"/>
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 1</span>
        <input type="file" ng-model="profile.optional_pic1"/>
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 2</span>
        <input type="file" ng-model="profile.optional_pic2"/>
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 3</span>
        <input type="file" ng-model="profile.optional_pic3"/>
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 4</span>
        <input type="file" ng-model="profile.optional_pic4"/>
      </div>
    </div>

    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Optional Photo 5</span>
        <input type="file" ng-model="profile.optional_pic5"/>
      </div>
    </div>
  </form>
<br>
<br>


</div>
