<h2>This is the Profile Questionnaire</h2>
<form>
  <input type="text" placeholder="friend's name">
  <input type="text" placeholder="friend's email address">
  <small>We will notify your friend via email once their profile is created</small>
  <input type="text" placeholder="friend's birthday">
  <input type="text" placeholder="friend's location">
  <input type="text" placeholder="friend's gender">
  <input type="text" placeholder="gay or straight?">
  <input type="text" placeholder="friend's career">
  <input type="text" placeholder="describe your friend">
  <input type="text" placeholder="the type of person best suited for your friend">
  <input type="text" placeholder="favorite memory or story with your friend">
  <input type="text" placeholder="why are you putting this friend on The Setup?">



</form>
