<h2>This is the Profile Questionnaire</h2>
<form>
  <input type="text" ng-model="profile.name" placeholder="friend's name">
  <input type="text" ng-model="profile.email" placeholder="friend's email address">
  <small>We will notify your friend via email once their profile is created</small>
  <input type="text" ng-model="profile.birthYear" placeholder="friend's year of birth">
  <input type="text" ng-model="profile.location" placeholder="friend's location">
  <input type="text" ng-model="profile.gender" placeholder="friend's gender">
  <input type="text" ng-model="profile.orientation" placeholder="gay or straight?">
  <input type="text" ng-model="profile.occupation" placeholder="friend's occupation">



</form>
