<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/#/" class="brand-logo center"><img src="images/setup_logo.png" height="56" width="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/#/create">Create Profile for Friend</a></li>
        <li><a href="/search">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="searchDiv">
<h2 class="brand-logo">Search</h2>



<form ng-submit="search(gender, location, orient)">
<ul class="searchList">

  <label>Minimum Age</label>
  <select ng-model="search.minAge" class="browser-default">
    <option  disabled selected>Select Age</option>
    <option ng-repeat="a in range(18,85)" value="{{ a }}">{{ a }}</option>
  </select>

  <label>Maximum Age</label>
  <select ng-model="search.maxAge" class="browser-default">
    <option  disabled selected>Select Age</option>
    <option ng-repeat="a in range(18,85)" value="{{ a }}">{{ a }}</option>
  </select>

  <input type="text" ng-model="location.keywords" placeholder="Location">

  <li>
  <h6>Gender</h6>
  <input type="radio" name="gender" class="with-gap" id="search-male" value="male" ng-model="gender.keywords">
  <label for="search-male">Male</label>
  <input type="radio" name="gender" class="with-gap" id="search-female" value="female" ng-model="gender.keywords">
  <label for="search-female">Female</label>
  </li>

  <li>
  <h6>Orientation</h6>
  <input type="radio" name="orientation" class="with-gap" id="search-straight" value="straight" ng-model="orient.keywords">
  <label for="search-straight">Straight</label>
  <input type="radio" name="orientation" class="with-gap" id="search-gay" value="gay" ng-model="orient.keywords">
  <label for="search-gay">Gay</label>
  </li>

</ul>
<button class="waves-effect waves-light btn-large">Search</button>

</form>

<div class="searchResults">

<ul ng-if="dataHasLoaded">
  <div search-results searchdata="searchdata" ng-repeat="profile in searchdata.profiles" user="profile"></div>
</ul>

</div>
</div>
</div>
