<h2>This is the Search Results Page</h2>
<div>

<ul class="row">
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>
  <li class="col s4"><button class="waves-effect waves-light btn-large indigo accent-2">profile</button></li>


</ul>
</div>
