<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
       <a href="/#/" class="brand-logo center"><img src="images/setup_logo.png" height="56" width="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="gotoCreate()">Create Profile for Friend</a></li>
        <li><a ng-click="gotoSearch()">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="singleProfileDiv">

 <h2>{{questions.name}}'s Profile</h2>
 <h5>created by: {{creator}}</h5>

<div class="row">
<div class="profileTop">
 <img src="http://lorempixel.com/300/300/people" width="300" height="auto"/>




 <div class="topRight">
 <div class="colorTop"></div>
   <p><span>Gender:</span> {{questions.gender}}</p>
   <p><span>Age:</span> {{ questions.age }}</p>
   <p><span>Location:</span> {{questions.location}}</p>
   <p><span>Orientation:</span> {{questions.orientation}}</p>
   <p><span>Occupation:</span> {{questions.occupation}}</p>
 </div>
</div>
</div>

<div class="row">
 <div class="singleProfileVideoDiv">
 <div class="video-container">

 <video width="640" height="385" src="http://f.cl.ly/items/0E2v2f2v0P340a3Z2l1G/Egghead.io%20-%20AngularJS%20-%2006%20Filters.MP4" controls></video>
 </div>
 </div>
 </div>

<div class="row">
 <div class="optionalVidsDiv">
 <div class="video"><span>Video goes here!</span></div>
 <div class="video"><span>Video goes here!</span></div>
 <div class="video"><span>Video goes here!</span></div>

 </div>
</div>



</div>
</div>
