<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
       <a href="/#/" class="brand-logo center"><img src="images/setup_logo.png" height="56" width="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="gotoCreate()">Create Profile for Friend</a></li>
        <li><a ng-click="gotoSearch()">Search</a></li>
        <li><a ng-click="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="singleProfileDiv">

 <h2>{{result.name}}'s Profile</h2>
 <h5>created by: {{result.created_by}}</h5>

<div class="row">
<div class="profileTop">
 <img src="http://lorempixel.com/300/300/people" width="300" height="auto"/>




 <div class="topRight">
 <div class="colorTop"></div>
   <p><span>Gender:</span> {{result.gender}}</p>
   <p><span>Age:</span> {{ result.age }}</p>
   <p><span>Location:</span> {{result.location}}</p>
   <p><span>Orientation:</span> {{result.orientation}}</p>
   <p><span>Occupation:</span> {{result.occupation}}</p>
 </div>
</div>
</div>

<!-- <div class="row">
 <div class="singleProfileVideoDiv">
 <div class="video-container">

 <iframe class="youtube-player" width="640" height="385" ng-src="{{ trustSrc(embed_url) }}" allowfullscreen frameborder="0">
 </div>
 </div>
 </div> -->

<div class="row">
 <div class="optionalVidsDiv">
 <div class="video"><span>Video goes here!</span></div>
 <div class="video"><span>Video goes here!</span></div>
 <div class="video"><span>Video goes here!</span></div>

 </div>
</div>


<div class="row">
  <div class="optionalPicsDiv">
  <ul>
    <li><img src="images/stina_1.jpg" width="150"></li>
    <li><img src="images/stina_2.jpg" width="150"></li>
    <li><img src="images/stina_3.jpg" width="150"></li>
    <li><img src="images/stina_4.jpg" width="150"></li>
    <li><img src="images/stina_5.jpg" width="150"></li>

  </ul>

  </div>
</div>

</div>
</div>
