
<div class="videoDiv">
<h2 id="videoHeader" class="brand-logo center">Profile Videos</h2>
<input type="url" placeholder="main video link">
<p>Think of this as a documentary about your friend. The main video is a video of you (and others) describing your friend. You can include footage of your friend. The more entertaining, the better! Maximum video length is 2 minutes. You can quickly create videos using our mobile app. <button class="waves-effect waves-light btn-large indigo accent-2">download mobile app</button></p>
</div>
