@import 'bourbon/bourbon';
@import 'neat/neat';

//////////colors//////////////
$indigo: RGBA(21, 141, 162, 1);
$gray: #727D8C;
$darkGray: #272822;
$lightGray: #bdbdbd;
$teal: #00bfa5;
$orange: #ff5722;
$pink: #ff4081;
$purple: #ba68c8;


//////////fonts////////////
$italic: 'Italiana', serif;
$roboto: 'Roboto', sans-serif;

button:before {
  background-color: RGBA(30, 192, 185, 1);
}

.loginDiv {

  h2 {
    color: RGBA(21, 141, 162, 1);
  }
}



.nav-wrapper {
  background: linear-gradient(RGBA(21, 141, 162, 1), RGBA(30, 192, 185, 1));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;

  a {
    font-size: 1em;
    cursor: pointer;
  }

  .brand-logo {
    font-size: 3em;
    cursor: pointer;
  }
}


///////////////////////////////////////////////////////////
//////////// Dashboard ////////////
////////////////////////////////////////////////////////////

.dashboardDiv {
  background-color: white;
}

.personal {
  color: $indigo;
  font-size: 2em;
  margin-left: 25px;
}

.profileMgmt {
  @include span-columns(4);
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  h5 {
    color: white;
  }
}


.applicationMgmt {
  @include span-columns(4);
  background-color: RGBA(21, 141, 162, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  h5 {
    color: white;
  }
}




.favorites {
  @include span-columns(4);
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  h5 {
      color: white;
    }
  }



////////////////////////////////////////////////////
////////// Search /////////////
/////////////////////////////////////////////////////

.searchDiv {

  ul select {
    width: 150px;
    display: inline-block;
    margin-right: 50px;
  }

  h2 {
    color: $indigo;
  }

  ul li {
    display: inline-block;
    margin-right: 100px;
  }
}


/////////////////////////////////////////////////////
/////////// Create Div ////////////
/////////////////////////////////////////////////////



.createDiv {

  color: $gray;

  h2 {
  color: $indigo;
  border-radius: 5px;
  padding: 25px;
  }

  .createTopText {
    text-align: center;
  }

}


.profileQuestions {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;


  #questionsText {
    background-color: RGBA(30, 192, 185, 1);
    color: white;
  }

  .profileGender {
    display: inline-block;
    margin-right: 10px;
  }

  .profileOrientation {
    display: inline-block;
  }
}

.picturesDiv {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;

  #picturesText {
    background-color: RGBA(30, 192, 185, 1);
    color: white;
  }

  label {
    color: $indigo;
    font-size: 16px;
  }
}

.videoDiv {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;

  #videoHeader {
    color: white;
    background-color: $indigo;
  }

  p {
    text-align: center;
  }
}



//////////////////////////////////////////////////////////
///////////// Single Profile Page ///////
////////////////////////////////////////////////////////////

.singleProfileDiv {
  @include outer-container;

  .profileTop {
    background-color: RGBA(30, 192, 185, 1);
    border-radius: 5px;
  }

  .video-container {
    width: 60%;
    margin: 0 auto;
  }

  .optionalVidsDiv {



    .video {
      @include span-columns(3);
      width: 30%;



      iframe {
        height: 200px;

      }
    }
  }

  .optionalPicsDiv ul li {
    display: inline-block;
  }

  .row {
    background-color: $indigo;
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px;

    img {
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  h2 {
    color: $indigo;
    position: relative;
  }

  h5 {
    color: $gray;
    position: absolute;
    left: 360px;
    top: 130px;
  }

}


.topRight {
  @include span-columns(4);
  border: 1px solid $gray;
  border-radius: 5px;
  color: $gray;
  padding: 25px;
  width: 40%;
  background-color: white;
  float: right;

  .colorTop {
    height: 30px;
    background-color: RGBA(30, 192, 185, 1);
    border-radius: 5px;
  }
}


/////////////////////////////////////////////////////
/////////// About Template //////////
////////////////////////////////////////////////////

.aboutDiv {

  h2 {
    color: RGBA(30, 192, 185, 1);
  }

  h5 {
    font-size: 16px;
  }
}

.aboutOne {
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;

    h3 {
      font-size: 28px;
      color: white;
    }

    ul {
      margin-top: 38px;
    }
}

.aboutOne:hover {
  height: 400px;
}

.aboutTwo {
  background-color: RGBA(21, 141, 162, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;

  h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px;
  }

  ul {
    margin-top: 35px;
  }
}

.aboutTwo:hover {
  height: 450px;
}

.aboutThree {
  position: relative;
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;

  h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px;
  }

  ul {
    margin-top: 35px;
  }
}

.aboutThree:hover {
  height: 400px;
}


//////////////////////////////////////////////////////
/////// News Template //////////////
//////////////////////////////////////////////////////

.successText {
  height: 110px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;

    h2 {
      font-family: $roboto;
      color: $indigo;
    }

    p {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      border-radius: 5px;
      background-color: RGBA(30, 192, 185, 0.5);
      font-size: 18px;

    }
}

.successText:hover {
  height: 300px;
}

.successPic {
  float: left;
  margin-top: 30px;
  border-radius: 5px;
}

.successQuote {
  float: right;
  width: 60%;
  color: $gray;
  font-family: $italic;
  font-size: 1.8em;
  margin-top: 30px;
}

/////////////////////////////////////////////////////
////////// Footer /////////////////
//////////////////////////////////////////////////////



