@import 'bourbon/bourbon';
@import 'neat/neat';

//////////colors//////////////
$indigo: RGBA(21, 141, 162, 1);
$lightIndigo: RGBA(30, 192, 185, 1);
$gray: #727D8C;
$darkGray: #272822;
$lightGray: #bdbdbd;
$teal: #00bfa5;
$orange: #ff5722;
$pink: #ff4081;
$purple: #ba68c8;


//////////fonts////////////
$italic: 'Italiana', serif;
$roboto: 'Roboto', sans-serif;

button:before {
  background-color: RGBA(30, 192, 185, 1);
}

.loginDiv {

  h2 {
    color: RGBA(21, 141, 162, 1);
  }
}



.nav-wrapper {
  background: linear-gradient(RGBA(21, 141, 162, 1), RGBA(30, 192, 185, 1));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;

  a {
    font-size: 1em;
    cursor: pointer;
  }

  .brand-logo {
    font-size: 3em;
    cursor: pointer;
  }
}


.slider {
  h3 {
    color: $lightIndigo;
  }

  h5 {
    color: $lightIndigo;
  }
}


///////////////////////////////////////////////////////////
//////////// Dashboard ////////////
////////////////////////////////////////////////////////////

.dashboardDiv {
  background-color: white;
}

.personal {
  position: relative;
  overflow: hidden;
  height: 50px;
  transition: height 0.5s;
}

.personal:hover {
  height: 300px;
}

.personalText {
  color: $indigo;
  font-size: 2em;
  margin-left: 25px;

}

.profileMgmt {
  @include span-columns(4);
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll;
  h5 {
    color: white;
    position: relative;
    margin-left: 25px;
  }

  h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f007';
    left: -25px;
  }

  span {
    color: $gray;
    font-size: 16px;
    cursor: pointer;
  }
}


.applicationMgmt {
  @include span-columns(4);
  background-color: RGBA(21, 141, 162, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll;
  h5 {
    color: white;
    position: relative;
    margin-left: 28px;
  }

  h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f1d8';
    left: -28px;
  }
}




.favorites {
  @include span-columns(4);
  background-color: RGBA(30, 192, 185, 1);
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin: 15px auto;
  padding: 15px;
  overflow: scroll;
  h5 {
      color: white;
      position: relative;
      margin-left: 28px;
    }

   h5:before {
    position: absolute;
    font-family: FontAwesome;
    color: white;
    content: '\f004';
    left: -28px;
  }
  }



////////////////////////////////////////////////////
////////// Search /////////////
/////////////////////////////////////////////////////

.searchDiv {

  ul select {
    width: 150px;
    display: inline-block;
    margin-right: 50px;
  }

  h2 {
    color: $indigo;
  }

  ul li {
    display: inline-block;
    margin-right: 100px;
  }
}

////////////////////////////////////////////////////////
////////// Search Results ///////
///////////////////////////////////////////////////////

.searchResults ul li {
    background-color: white;
    border: 1px solid $indigo;
    border-radius: 5px;
    width: 30%;
    height: 300px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

  span {
    color: $gray;
    display: block;
  }

  a {
    text-decoration: none;
  }
}

  .colorTopFemale {
    height: 25px;
    background-color: $lightIndigo;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .colorTopMale {
    height: 25px;
    background-color: $indigo;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .searchResultImage {
    margin-left: 30%;
  }

/////////////////////////////////////////////////////
/////////// Create Div ////////////
/////////////////////////////////////////////////////



.createDiv {

  color: $gray;

  h2 {
  color: $indigo;
  border-radius: 5px;
  padding: 25px;
  }

  .createTopText {
    text-align: center;
  }

}


.profileQuestions {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;


  #questionsText {
    background-color: RGBA(30, 192, 185, 1);
    color: white;
  }

  .profileGender {
    display: inline-block;
    margin-right: 10px;
  }

  .profileOrientation {
    display: inline-block;
  }
}

.picturesDiv {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;

  #picturesText {
    background-color: RGBA(30, 192, 185, 1);
    color: white;
  }

  label {
    color: $indigo;
    font-size: 16px;
  }
}

.videoDiv {

  border: 1px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;

  #videoHeader {
    color: white;
    background-color: $indigo;
  }

  p {
    text-align: center;
  }
}



//////////////////////////////////////////////////////////
///////////// Single Profile Page ///////
////////////////////////////////////////////////////////////

.singleProfileDiv {
  @include outer-container;

  .profileTop {
    //background-color: RGBA(30, 192, 185, 1);
    border-radius: 5px;
    position: relative;

    img {
      width: 40%;
      //border: 1px solid $lightGray;
      border-radius: 5px;
    }
  }

  .profileTop:before {
    content: '\f1d8   apply for date';
    font-family: FontAwesome;
    position: absolute;
    color: RGBA(30, 192, 185, 1);
    font-size: 1em;
    right: -15px;
    top: -60px;
  }

  .profileTop:after {
    content: '\f004   mark as favorite';
    font-family: FontAwesome;
    position: absolute;
    color: RGBA(30, 192, 185, 1);
    font-size: 1em;
    right: 125px;
    top: -60px;
  }





  .videoDiv {

      @include span-columns(4);
      overflow: hidden;

      video {

        width: 100%;
      }

      span {

        color: $indigo;
        font-size: 1.5em;
      }
    }

  .mainVideo {
    margin-left: 35%;
  }




  .row {
    border: 2px solid $lightGray;
    //background-color: RGBA(21, 141, 162, 0.8);
    //background-color: $lightGray;
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px;

    img {
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .row:hover {
    background-color: $lightGray;
  }

  h2 {
    color: $indigo;
    position: relative;
  }

  h5 {
    color: RGBA(30, 192, 185, 1);
    position: absolute;
    left: 360px;
    top: 130px;
  }

}


.topRight {
  border: 2px solid $lightGray;
  border-radius: 5px;
  color: $gray;
  font-size: 1.3em;
  // font-family: $italic;
  padding: 25px;
  width: 50%;
  height: 346px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: white;
  float: right;

    p {
      color: $darkGray;
    }

    span {
      width: 25px;
      padding: 5px;
      border-radius: 5px;
      background-color: RGBA(30, 192, 185, 1);
      color: white;
    }

  // .colorTop {
  //   height: 30px;
  //   background-color: RGBA(30, 192, 185, 1);
  //   border-radius: 5px;
  // }
}


/////////////////////////////////////////////////////
/////////// About Template //////////
////////////////////////////////////////////////////

.aboutDiv {

  h2 {
    color: RGBA(30, 192, 185, 1);
  }

  h5 {
    font-size: 16px;
  }
}

.aboutOne {
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;

    h3 {
      font-size: 28px;
      color: white;
    }

    ul {
      margin-top: 38px;
    }
}

.aboutOne:hover {
  height: 400px;
}

.aboutTwo {
  background-color: RGBA(21, 141, 162, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;

  h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px;
  }

  ul {
    margin-top: 35px;
  }
}

.aboutTwo:hover {
  height: 450px;
}

.aboutThree {
  position: relative;
  background-color: RGBA(30, 192, 185, 1);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;

  h3 {
    font-size: 28px;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-left: 25px;
  }

  ul {
    margin-top: 35px;
  }
}

.aboutThree:hover {
  height: 400px;
}


//////////////////////////////////////////////////////
/////// News Template //////////////
//////////////////////////////////////////////////////

.successText {
  height: 110px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;

    h2 {
      font-family: $roboto;
      color: $indigo;
    }

    p {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      border-radius: 5px;
      background-color: RGBA(30, 192, 185, 0.5);
      font-size: 18px;

    }
}

.successText:hover {
  height: 300px;
}

.successPic {
  float: left;
  margin-top: 30px;
  border-radius: 5px;
}

.successQuote {
  float: right;
  width: 60%;
  color: $gray;
  font-family: $italic;
  font-size: 1.8em;
  margin-top: 30px;
}

/////////////////////////////////////////////////////
////////// Footer /////////////////
//////////////////////////////////////////////////////

// footer {
//   background-color: $lightGray;

//     clear: both;
//     position: relative;
//     //z-index: 10;
//     height: 3em;
//     margin-top: 1em;
// }


